* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "fonts";
@import "variables";

body {
    background-color: $backgroundcolor;
}

header {
    background-color:$backgroundcolor;
}

nav {
    background-color:$backgroundcolor;
}

.bkgcolor {
    
    background-color:$backgroundcolor;
}

Main {
    background-color: $backgroundcolor;
    display: flex;
    justify-content: center;
}

Footer {
    background-color: $backgroundcolor;
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
}

.containerheader {
    display: flex;
    justify-content: center;
    height: 200px;
}

/*
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Indie Flower', cursive;
*/